


.rectangle {
    display: block;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    max-width: 40%;
    margin: 0;
    word-wrap: break-word;
    padding-top:50px;
}

@media screen and (max-width: 1200px) {
    .citation {
        text-align: center;
        padding-bottom: 1em;
        font-size: 50px;
    }
    .rectangle {
        background-color: white;
        max-width: 95%;
        padding: 10px;
        border-radius: 30px;
        word-wrap: break-word;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        padding-top:50px;
    }

    .size {
        font-size: 80px;
    }

    .author {
        font-size:50px;
    }

    .bas {
        text-align: center;
        margin: 0;
        color: white;
        position: absolute;
        bottom: 200px;
        width: 100%;
        height: 10px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .button {
        color: white;
        border: none;
        font-size:30px;
    }
    
    .lienblog{color : white;
    font-size:16px}


    }


@media screen and (min-width: 1200px) {

.citation {
    text-align: center;
    padding-bottom: 1em;
    font-size:23px;

}

.button {

    color: white;
    border: none;
}

.bas {
    text-align: center;
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}





.size {
    font-size: 30px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
}

.hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.inherit {
    text-decoration: none;
    color: inherit;
}

.lienblog{color : white;
    font-size:16px}
}

#lienblogg{color:white;};

a { color: inherit; } ;



